{%- assign parent = include.parent_name | default: "" -%}

<div class="music-player-wrapper"
     aria-label="Radio player"
     data-mode="radio"
     data-parent="{{ parent }}">

    <audio class="radio-audio" preload="metadata" crossorigin="anonymous"></audio>

    <div class="cassette-player">
        <div class="cassette-shell">

            <div class="cassette-window">
                <div class="reel reel-left"></div>
                <div class="tape"></div>
                <div class="reel reel-right"></div>
            </div>

            <div class="cassette-label">
                <div class="track-title">Online Radio</div>
                <div class="track-sub">
                    {% if parent != "" %}
                    Auto-mix: {{ parent }}
                    {% else %}
                    Auto-mix: All Albums
                    {% endif %}
                </div>
            </div>

            <div class="controls-row">
                <button class="mp-btn mp-play">
                    <img src="{{ '/assets/bootstrap-icons/play.svg' | relative_url }}">
                </button>

                <button class="mp-btn mp-pause" style="display:none;">
                    <img src="{{ '/assets/bootstrap-icons/pause.svg' | relative_url }}">
                </button>

                <div class="mp-seek">
                    <input type="range" class="mp-seek-range" disabled>
                </div>

                <div class="mp-times">
                    <span class="mp-elapsed">0:00</span> /
                    <span class="mp-duration">0:00</span>
                </div>

                <div class="mp-volume">
                    <button class="mp-btn mp-vol-down">
                        <img src="{{ '/assets/bootstrap-icons/volume-down.svg' | relative_url }}">
                    </button>

                    <input type="range" class="mp-volume-range"
                           min="0" max="1" step="0.01" value="1">

                    <button class="mp-btn mp-vol-up">
                        <img src="{{ '/assets/bootstrap-icons/volume-up.svg' | relative_url }}">
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>
