<!DOCTYPE html>
{%- assign page_lang = page.lang | default: 'ta' -%}
<html lang="{{ page_lang }}" >
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  {% include template/head.html %}
  </head>

  <body data-page-lang="{{ page.lang | default: '' }}" data-page-url="{{ page.url }}">

    <div id="skip-to-content"><a href="#maincontent">Skip to main content</a></div>

    {% include template/banner.html %}

    {{ content }}
    <!-- page footer here -->
    {% include template/foot.html %}

    <!-- Add here -->
    {%- if site.attribute.advertisement.enabled -%}
      {% include template/foot-add.html %}
    {%- endif -%}

    <div style="background: {{ site.header-background }}; text-align: center; margin: 0; padding: 0;">
      <!-- Global footer here -->
      {% include main-footer.html %}
    </div>
  </body>

</html>