<!DOCTYPE html>
<html lang="en" >
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  {% include template/head.html %}
  </head>

  <body>

    <div id="skip-to-content"><a href="#maincontent">Skip to main content</a></div>

    {% include template/banner.html %}

    {{ content }}
    <!-- page footer here -->
    {% include template/foot.html %}

    <!-- Add here -->
    {%- if site.attribute.advertisement.enabled -%}
      {% include template/foot-add.html %}
    {%- endif -%}

    <div style="background: {{ site.header-background }}; margin-top: 3rem;">
      <!-- Global footer here -->
      {% include template/main-footer.html %}
    </div>
  </body>

</html>